HDI.Partner.Integration/Web References/HDIPartnerService/PartnerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PartnerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/PartnerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/PartnerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/PartnerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" />
      <xsd:import schemaLocation="http://localhost:9000/PartnerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HDI.Entities.Concreate" />
      <xsd:import schemaLocation="http://localhost:9000/PartnerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HDI.Core.Results" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPartnerService_AddWork_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWork" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_AddWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartners_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartners" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartners_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnersResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetWorkList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkList" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetWorkList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkListResponse" />
  </wsdl:message>
  <wsdl:portType name="IPartnerService">
    <wsdl:operation name="AddWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/AddWork" message="tns:IPartnerService_AddWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/AddWorkResponse" message="tns:IPartnerService_AddWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartners">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetPartners" message="tns:IPartnerService_GetPartners_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetPartnersResponse" message="tns:IPartnerService_GetPartners_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetProducts" message="tns:IPartnerService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetProductsResponse" message="tns:IPartnerService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetWorkList" message="tns:IPartnerService_GetWorkList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetWorkListResponse" message="tns:IPartnerService_GetWorkList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPartnerService" type="tns:IPartnerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWork">
      <soap:operation soapAction="http://tempuri.org/IPartnerService/AddWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartners">
      <soap:operation soapAction="http://tempuri.org/IPartnerService/GetPartners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IPartnerService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkList">
      <soap:operation soapAction="http://tempuri.org/IPartnerService/GetWorkList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartnerService">
    <wsdl:port name="BasicHttpBinding_IPartnerService" binding="tns:BasicHttpBinding_IPartnerService">
      <soap:address location="http://localhost:9000/PartnerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>