HDI.Partner.Integration/Web References/HDIPartnerService/PartnerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/PartnerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" />
  <xs:import schemaLocation="http://localhost:9000/PartnerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HDI.Core.Results" />
  <xs:element name="AddWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" minOccurs="0" name="work" nillable="true" type="q1:WorkModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HDI.Core.Results" minOccurs="0" name="AddWorkResult" nillable="true" type="q2:ResultOfWorkModelwaIoxn6K" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartners">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HDI.Core.Results" minOccurs="0" name="GetPartnersResult" nillable="true" type="q3:ResultOfArrayOfPartnerModelwaIoxn6K" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerContracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partnerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HDI.Core.Results" minOccurs="0" name="GetPartnerContractsResult" nillable="true" type="q4:ResultOfArrayOfContractModelwaIoxn6K" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partnerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HDI.Core.Results" minOccurs="0" name="GetProductsResult" nillable="true" type="q5:ResultOfArrayOfProductModelwaIoxn6K" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partnerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HDI.Core.Results" minOccurs="0" name="GetWorkListResult" nillable="true" type="q6:ResultOfArrayOfWorkModelwaIoxn6K" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>