HDI.Partner.Integration/Web References/HDIPartnerService/PartnerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HDI.Core.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HDI.Core.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/PartnerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" />
  <xs:complexType name="ResultOfWorkModelwaIoxn6K">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HDI.Core.Results" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="WorkModel" Namespace="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" minOccurs="0" name="Data" nillable="true" type="q1:WorkModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfWorkModelwaIoxn6K" nillable="true" type="tns:ResultOfWorkModelwaIoxn6K" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ResultOfArrayOfPartnerModelwaIoxn6K">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HDI.Core.Results" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPartnerModel" Namespace="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" minOccurs="0" name="Data" nillable="true" type="q2:ArrayOfPartnerModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfArrayOfPartnerModelwaIoxn6K" nillable="true" type="tns:ResultOfArrayOfPartnerModelwaIoxn6K" />
  <xs:complexType name="ResultOfArrayOfContractModelwaIoxn6K">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HDI.Core.Results" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfContractModel" Namespace="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" minOccurs="0" name="Data" nillable="true" type="q3:ArrayOfContractModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfArrayOfContractModelwaIoxn6K" nillable="true" type="tns:ResultOfArrayOfContractModelwaIoxn6K" />
  <xs:complexType name="ResultOfArrayOfProductModelwaIoxn6K">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HDI.Core.Results" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfProductModel" Namespace="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" minOccurs="0" name="Data" nillable="true" type="q4:ArrayOfProductModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfArrayOfProductModelwaIoxn6K" nillable="true" type="tns:ResultOfArrayOfProductModelwaIoxn6K" />
  <xs:complexType name="ResultOfArrayOfWorkModelwaIoxn6K">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HDI.Core.Results" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfWorkModel" Namespace="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HDI.Entities.DTOs" minOccurs="0" name="Data" nillable="true" type="q5:ArrayOfWorkModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfArrayOfWorkModelwaIoxn6K" nillable="true" type="tns:ResultOfArrayOfWorkModelwaIoxn6K" />
</xs:schema>